header {
  width: 100vw;
  height: 80px;
  border-bottom: solid 1px rgba(16, 16, 16, 0.1);
  font-family: "Poppins";
}

header .inner {
  width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
  height: 100%;
  display: block;
  margin: 0 auto;
}

header .logo {
  display: table;
  height: 100%;
  float: left;
}

header .logo div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

header .logo img {
  height: 50px;
  margin-top: 5px; /* Optical alignment of the logo */
}

header nav {
  float: right;
  height: 100%;
}

header nav li {
  display: table;
  height: 100%;
  float: left;
  margin-right: 30px;
  font-weight: bold;
}

header nav li:hover {
  color: pink;
}

header nav li:last-of-type {
  margin-right: 0;
}

header nav span {
  display: table-cell;
  vertical-align: middle;
}

header nav a {
  color: #101010;
}

/* Body Flex CSS */

.CarContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  height: 600px;
}

/* .CarContainer > div { 
  width: 33%;
  margin: 1px;
  justify-content: center;

} */

.CarItem {
  /* border-style: solid;
  border-color: pink;
  justify-content: center; */
  align-items: center;
  width: 380px;
  height: 400 px;
  border: 2px solid rgb(234, 127, 127);
  overflow: hidden;
  display: flex;
  /* justify-content: stretch; */
  flex-direction: column;
}

.CarItem img {
  width: 350 px;
  height: 500 px;
}

.CarItem div {
  margin-top: 50px;
}

/* .efficiency {
  padding: 0px;
  margin: 0px;
} */

.CarItem div div {
  padding: 0px;
  margin: 0px;
}

/* .moveToLeft {
  float: left;
  text-align: left;
} */

.footer {
  position: fixed;

  left: 0;

  bottom: 0;

  width: 100%;

  background-color: black;

  color: white;

  text-align: center;

  margin: 10px 0;

  text-align: left;

  font-size: 100%;
}

.contactus {
  float: right;
  text-align: right;
}
