header {
  width: 100vw;
  height: 80px;
  border-bottom: solid 1px rgba(16, 16, 16, 0.1);
  font-family: "Roboto";
}

header .inner {
  /* width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
  /* height: 100%; */
  /* display: block;
  margin: 0 auto; */
  height: 100%;
  margin: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: table;
  height: 100%;
  float: left;
}

header .logo div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

header .logo img {
  height: 50px;
  margin-top: 5px; /* Optical alignment of the logo */
}

header nav {
  float: right;
  height: 100%;
}

header nav li {
  display: table;
  height: 100%;
  float: left;
  margin-right: 30px;
  font-weight: bold;
}

header nav li:hover {
  color: pink;
}

header nav li:last-of-type {
  margin-right: 0;
}

header nav span {
  display: table-cell;
  vertical-align: middle;
}

.headerFont {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;

  color: #000000;
}

header nav a {
  color: #101010;
}

/* Body Flex CSS */

.CarContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  height: 500px;
  margin-top: 4%;
}

/* .CarContainer > div { 
  width: 33%;
  margin: 1px;
  justify-content: center;

} */

.CarItem {
  /* border-style: solid;
  border-color: pink;
  justify-content: center; */
  align-items: center;
  width: 380px;
  height: 400 px;
  border: 2px solid #ff7bac;
  overflow: hidden;
  display: flex;
  /* justify-content: stretch; */
  flex-direction: column;
  box-shadow: 11px 12px 4px rgba(255, 123, 172, 0.46);
}

.CarItem img {
  width: 350 px;
  height: 450 px;
}

.CarItem div {
  margin-top: 50px;
}

/* .efficiency {
  padding: 0px;
  margin: 0px;
} */

.CarItem div div {
  padding: 0px;
  margin: 0px;
  margin-right: 200px;
}

.exploreButton {
  width: 150px;
  height: 30px;
  /* padding-left: 180px; */
  background: #e5e5e5;
  border: 3px solid #000000;
  font-family: "Roboto";
  margin: 40px;
}

/* Footer Css */

.footer {
  position: fixed;

  left: 0;

  bottom: 0;

  width: 100%;

  background-color: black;

  color: white;

  text-align: center;

  margin: 10px 0;

  text-align: left;

  font-size: 100%;
  /* position: absolute;
  width: 1920px;
  height: 77px;
  left: 0px;
  top: 891px;

  background: #000000;
  box-shadow: 38px 20px 4px #000000; */
}

.contactus {
  float: right;
  text-align: right;
  /* position: absolute;
  width: 158px;
  height: 38px;
  left: 1693px;
  top: 911px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  color: #ffffff;
}

/* Search bar css */
.visually-hidden {
  clip: rect(0 0 0 0);

  clip-path: inset(50%);

  height: 1px;

  overflow: hidden;

  position: absolute;

  white-space: nowrap;

  width: 1px;
}

.sortBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.searchInner {
  display: flex;
  height: 100%;
  margin: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Car Details Page Css style */

.detailsPageContainer {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.carDetails {
  width: 800px;
  height: 600px;
}

.bookingDetails {
  width: 550px;
  height: 600px;
  border: 1px solid #ff7bac;
  box-shadow: 11px 12px 4px rgba(255, 123, 172, 0.25);
}

.carDivison {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px;
}

.carName {
  margin: 20px;
}

.carImage {
  width: 600px;
  height: 400px;
}

.carImage img {
  height: 400px;
}

.carDate {
  width: 100px;
  height: 400px;
  line-height: 0px;
}

.carDate p {
  line-height: 0px;
}

.carDesc {
  height: 60px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.carDesc p {
  line-height: 0px;
}

.carBlack {
  height: 60px;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: pink;
  font-size: large;
}

/* booking Details Css */

.monthContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 250px;
  margin: 10px;
}

.bookingButton {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  background-color: #ff7bac;
  width: 120px;
  height: 66px;

  color: #ffffff;
}

.milesContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 400px;
  margin: 10px;
}

.bookingCarName {
  margin: 20px;
  margin-bottom: 50px;
}

.bookingCarName p {
  line-height: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 8px;
  /* identical to box height */

  color: #000000;
}
.subcriptionLength {
  margin: 20px;
}

.deliveryDate {
  margin: 20px;
}

.bookNowDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.bookNow {
  width: 500px;
  height: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  background: #ff7bac;
}

.dateBox {
  box-shadow: 6px 4px 4px rgba(255, 123, 172, 0.66);
  width: 400px;
  height: 70px;
}

.frontStyle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
